.splash-background {
    height: 100vh;
    background-position: center;   
    background-image: url('homepage.jpg');
}

.splash-header {
    padding-bottom: 20vh;
}

.splash-title {
    font-size: 32pt;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: rgb(32, 32, 32);
    background-color: rgba(100, 100, 100, 0.5);
    border-bottom: 5px solid rgb(105, 105, 105);
    text-align: center;
}

.splash-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 180px auto;
    text-align: center;
}