.background {
  height: 100%;
  background-position: center;
  background-image: url("background.jpg");
}

.header {
  padding-bottom: 20vh;
}

.splash-title {
  font-size: 32pt;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgb(32, 32, 32);
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgb(105, 105, 105);
  text-align: center;
}

.splash-motto {
  font-size: 16pt;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-style: italic;
  color: rgb(32, 32, 32);
  background-color: rgba(100, 100, 100, 0.2);
  text-align: center;
}

.splash-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 180px auto;
  text-align: center;
}

.quote {
  font-size: 24pt;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(32, 32, 32);
  text-align: center;
}

.form-box {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.message {
  z-index: 1;
  position: absolute;
}

.action {
  font-size: 12pt;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align:center;
}
